.header{
    background-color: #000;
    color: #fff;
    padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.search{
    padding: 5px;
    height: 25px;
    border-radius: 15px;
    width: 475px;
    border: none;
}
.search_form2{
    display: none;
    background-color: #080619;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border: none;
}
.search_form{
    border-radius: 5%;
    font-size: 12px;
    border: none;
    margin: 0;
    padding: 0;
    height: 10px;
}
/* Продукты */
.bg{
    color: #fff;
    background-color: #080619;
    margin: 0;
    text-align: center;
}
.products{
    display: flex;
    /* display: none; */
    flex-wrap: wrap;
    padding: 10px;
    color: #fff;
    background-color: #080619;
}
.prod{
    width: 350px;
    margin: 10px;
}
.prod_head{
    display: flex;
    justify-content: space-between;
}
.prod_name{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}
.prod_name_f input{
    color:white;
    border: none;
    background-color: initial;
}
.prod_img img{
    width: 350px;
}
.prod_body, .prod_act{
    display: flex;
    justify-content: space-between;
}
.prod_one{
    background-color: #080619;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.prod_cont{
    width: 50%;
    padding-top: 25px;
}
.prod2{
    width: 50%;
    padding: 10px;
}
.prod_del{
    color: red;
    text-decoration: none;    
    cursor: pointer;
}
.prod_buy{
    color: green;
    text-decoration: none;
    cursor: pointer;    
}
/* Редактирование */
.red_f{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.red_f table{
    padding: 50px;
}
.redact{

}